In [1]:
import numpy as np

In [2]:
# Define the matrix
pairs_matrix = np.array(
    [
        ["00100100", "00101001", -1],
        ["10100100", "01101101", -1],
        ["00100100", "00100100", 1],
    ]
)

# Select the column of interest
column_index = 1
substring_start = 0
substring_end = 4

# Extract the binary strings from the selected column
binary_strings = pairs_matrix[:, column_index]

# Convert the binary strings to a 2D numpy array of characters
char_array = np.array([list(bstr) for bstr in binary_strings])

# Perform the slicing operation
sliced_array = char_array[:, substring_start : substring_end + 1]

# Join the characters back to form binary strings
sliced_strings = np.apply_along_axis("".join, 1, sliced_array)

print(sliced_strings)

['00101' '01101' '00100']

In [30]:
char_array

array([['0', '0', '0', ..., '0', '0', '0'],
       ['0', '0', '0', ..., '0', '0', '0'],
       ['0', '0', '0', ..., '0', '0', '0'],
       ...,
       ['0', '0', '0', ..., '0', '0', '0'],
       ['0', '0', '0', ..., '0', '0', '0'],
       ['0', '0', '0', ..., '0', '0', '0']], dtype='<U1')

In [4]:
import pandas as pd

In [5]:
strings_df = pd.read_csv("../../data/interim/string_df.csv", index_col=0)
strings_df = strings_df.rename(columns={strings_df.columns[0]: "Probes"})

In [6]:
# strings_df = strings_df.iloc[:2]

In [7]:
strings_df

                                                Probes
0    0000000000000100000000100000010000001011000101...
1    0000000000000100000000100000010000001011000101...
2    0000000000000100000000100000010000001011000101...
3    0000000000000100000000100000010000001011000101...
4    0000000000000100000000100000010000001011000101...
..                                                 ...
325  0000000000000100000000100000010000001011000101...
326  0000000000000100000000100000010000001011000101...
327  0000000000000100000000100000010000001011000101...
328  0000000000000100000000100000010000001011000101...
329  0000000000000100000000100000010000001011000101...

[330 rows x 1 columns]

In [8]:
char_array = np.array([list(bstr) for bstr in strings_df["Probes"]])

In [9]:
char_array

array([['0', '0', '0', ..., '0', '0', '0'],
       ['0', '0', '0', ..., '0', '0', '0'],
       ['0', '0', '0', ..., '0', '0', '0'],
       ...,
       ['0', '0', '0', ..., '0', '0', '0'],
       ['0', '0', '0', ..., '0', '0', '0'],
       ['0', '0', '0', ..., '0', '0', '0']], dtype='<U1')

In [10]:
pairs_df = pd.read_csv("../../data/interim/pairs_df.csv", index_col=0)

In [11]:
pairs_df

       Item 1  Item 2  Equality
0           0       1         1
1           0       2         1
2           0       3         1
3           0       4         1
4           0       5         1
...       ...     ...       ...
54280     326     328         1
54281     326     329         1
54282     327     328         1
54283     327     329         1
54284     328     329         1

[54285 rows x 3 columns]

In [12]:
pairs_matrix = pairs_df.to_numpy()

In [13]:
# Assuming pairs_df and char_array are DataFrames and 'Item 1' exists in pairs_df and contains valid indices for char_array
pairs_df["Item 1"] = pairs_df["Item 1"].apply(lambda index: char_array[index])
pairs_df["Item 2"] = pairs_df["Item 2"].apply(lambda index: char_array[index])

In [14]:
pairs_df

,Item 1,Item 2,Equality
0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",1
1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",1
2,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",1
3,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",1
4,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",1
...,...,...,...
54280,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",1
54281,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",1
54282,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",1
54283,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",1
54284,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",1

In [ ]:
pairs_matrix

array([[array(['0', '0', '0', ..., '0', '0', '0'], dtype='<U1'),
        array(['0', '0', '0', ..., '0', '0', '0'], dtype='<U1'), 1],
       [array(['0', '0', '0', ..., '0', '0', '0'], dtype='<U1'),
        array(['0', '0', '0', ..., '0', '0', '0'], dtype='<U1'), 1],
       [array(['0', '0', '0', ..., '0', '0', '0'], dtype='<U1'),
        array(['0', '0', '0', ..., '0', '0', '0'], dtype='<U1'), 1],
       ...,
       [array(['0', '0', '0', ..., '0', '0', '0'], dtype='<U1'),
        array(['0', '0', '0', ..., '0', '0', '0'], dtype='<U1'), 1],
       [array(['0', '0', '0', ..., '0', '0', '0'], dtype='<U1'),
        array(['0', '0', '0', ..., '0', '0', '0'], dtype='<U1'), 1],
       [array(['0', '0', '0', ..., '0', '0', '0'], dtype='<U1'),
        array(['0', '0', '0', ..., '0', '0', '0'], dtype='<U1'), 1]],
      dtype=object)

In [39]:
item_1_list = np.array(pairs_df["Item 1"].tolist())
item_2_list = np.array(pairs_df["Item 2"].tolist())

In [43]:
item_1_list[1][0:4]

array(['0', '0', '0', '0'], dtype='<U1')

In [38]:
item_1_list[:, 0:4]

54285

In [59]:
slice = item_2_list[:, 0:4]

In [60]:
filtered = slice.astype(int)

In [61]:
sum_per_line = np.sum(filtered, axis=1)

In [64]:
len(sum_per_line)

54285

In [65]:
a = 2
ones_column = np.ones(len(sum_per_line)) * a

In [71]:
f_xa_t = sum_per_line - ones_column

In [72]:
f_xa_t

array([-2., -2., -2., ..., -2., -2., -2.])

In [75]:
ground_truth = pairs_df["Equality"].to_list()

In [76]:
ground_truth

[1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 1,
 1,
 1,
 1,
 1,
 1,
 1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 1,
 1,
 1,
 1,
 1,
 1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 -1,
 ...]

## Filters

In [45]:
filters_df = pd.read_csv("../../data/filters/sub-filters.csv", index_col=0)

In [46]:
filters_df

                  Columns                                            Bitmask
0           ('len_ssid',)  1111111100000000000000000000000000000000000000...
1      ('len_sup_rates',)  0000000011111111000000000000000000000000000000...
2    ('supported_rates',)  0000000000000000111111110000000000000000000000...
3    ('supported_rates',)  0000000000000000000000001111111100000000000000...
4    ('supported_rates',)  0000000000000000000000000000000011111111000000...
..                    ...                                                ...
266         ('ext_tags',)  0000000000000000000000000000000000000000000000...
267         ('ext_tags',)  0000000000000000000000000000000000000000000000...
268         ('ext_tags',)  0000000000000000000000000000000000000000000000...
269         ('ext_tags',)  0000000000000000000000000000000000000000000000...
270         ('ext_tags',)  0000000000000000000000000000000000000000000000...

[271 rows x 2 columns]

In [48]:
len(filters_df["Bitmask"].iloc[0])

271.0

In [49]:
indexes = range(0, len(filters_df["Bitmask"].iloc[0]), 8)

In [54]:
indexes[3]

24

In [55]:
# Assuming filters_df is your DataFrame
indexes = range(0, len(filters_df["Bitmask"].iloc[0]), 8)
index_ranges = [[start, start + 8] for start in indexes]

# If the last range exceeds the length, adjust it
if index_ranges[-1][1] > len(filters_df["Bitmask"].iloc[0]):
    index_ranges[-1][1] = len(filters_df["Bitmask"].iloc[0])

In [56]:
index_ranges

[[0, 8],
 [8, 16],
 [16, 24],
 [24, 32],
 [32, 40],
 [40, 48],
 [48, 56],
 [56, 64],
 [64, 72],
 [72, 80],
 [80, 88],
 [88, 96],
 [96, 104],
 [104, 112],
 [112, 120],
 [120, 128],
 [128, 136],
 [136, 144],
 [144, 152],
 [152, 160],
 [160, 168],
 [168, 176],
 [176, 184],
 [184, 192],
 [192, 200],
 [200, 208],
 [208, 216],
 [216, 224],
 [224, 232],
 [232, 240],
 [240, 248],
 [248, 256],
 [256, 264],
 [264, 272],
 [272, 280],
 [280, 288],
 [288, 296],
 [296, 304],
 [304, 312],
 [312, 320],
 [320, 328],
 [328, 336],
 [336, 344],
 [344, 352],
 [352, 360],
 [360, 368],
 [368, 376],
 [376, 384],
 [384, 392],
 [392, 400],
 [400, 408],
 [408, 416],
 [416, 424],
 [424, 432],
 [432, 440],
 [440, 448],
 [448, 456],
 [456, 464],
 [464, 472],
 [472, 480],
 [480, 488],
 [488, 496],
 [496, 504],
 [504, 512],
 [512, 520],
 [520, 528],
 [528, 536],
 [536, 544],
 [544, 552],
 [552, 560],
 [560, 568],
 [568, 576],
 [576, 584],
 [584, 592],
 [592, 600],
 [600, 608],
 [608, 616],
 [616, 624],
 [624, 632],
 [632, 640],
 [640, 648],
 [648, 656],
 [656, 664],
 [664, 672],
 [672, 680],
 [680, 688],
 [688, 696],
 [696, 704],
 [704, 712],
 [712, 720],
 [720, 728],
 [728, 736],
 [736, 744],
 [744, 752],
 [752, 760],
 [760, 768],
 [768, 776],
 [776, 784],
 [784, 792],
 [792, 800],
 [800, 808],
 [808, 816],
 [816, 824],
 [824, 832],
 [832, 840],
 [840, 848],
 [848, 856],
 [856, 864],
 [864, 872],
 [872, 880],
 [880, 888],
 [888, 896],
 [896, 904],
 [904, 912],
 [912, 920],
 [920, 928],
 [928, 936],
 [936, 944],
 [944, 952],
 [952, 960],
 [960, 968],
 [968, 976],
 [976, 984],
 [984, 992],
 [992, 1000],
 [1000, 1008],
 [1008, 1016],
 [1016, 1024],
 [1024, 1032],
 [1032, 1040],
 [1040, 1048],
 [1048, 1056],
 [1056, 1064],
 [1064, 1072],
 [1072, 1080],
 [1080, 1088],
 [1088, 1096],
 [1096, 1104],
 [1104, 1112],
 [1112, 1120],
 [1120, 1128],
 [1128, 1136],
 [1136, 1144],
 [1144, 1152],
 [1152, 1160],
 [1160, 1168],
 [1168, 1176],
 [1176, 1184],
 [1184, 1192],
 [1192, 1200],
 [1200, 1208],
 [1208, 1216],
 [1216, 1224],
 [1224, 1232],
 [1232, 1240],
 [1240, 1248],
 [1248, 1256],
 [1256, 1264],
 [1264, 1272],
 [1272, 1280],
 [1280, 1288],
 [1288, 1296],
 [1296, 1304],
 [1304, 1312],
 [1312, 1320],
 [1320, 1328],
 [1328, 1336],
 [1336, 1344],
 [1344, 1352],
 [1352, 1360],
 [1360, 1368],
 [1368, 1376],
 [1376, 1384],
 [1384, 1392],
 [1392, 1400],
 [1400, 1408],
 [1408, 1416],
 [1416, 1424],
 [1424, 1432],
 [1432, 1440],
 [1440, 1448],
 [1448, 1456],
 [1456, 1464],
 [1464, 1472],
 [1472, 1480],
 [1480, 1488],
 [1488, 1496],
 [1496, 1504],
 [1504, 1512],
 [1512, 1520],
 [1520, 1528],
 [1528, 1536],
 [1536, 1544],
 [1544, 1552],
 [1552, 1560],
 [1560, 1568],
 [1568, 1576],
 [1576, 1584],
 [1584, 1592],
 [1592, 1600],
 [1600, 1608],
 [1608, 1616],
 [1616, 1624],
 [1624, 1632],
 [1632, 1640],
 [1640, 1648],
 [1648, 1656],
 [1656, 1664],
 [1664, 1672],
 [1672, 1680],
 [1680, 1688],
 [1688, 1696],
 [1696, 1704],
 [1704, 1712],
 [1712, 1720],
 [1720, 1728],
 [1728, 1736],
 [1736, 1744],
 [1744, 1752],
 [1752, 1760],
 [1760, 1768],
 [1768, 1776],
 [1776, 1784],
 [1784, 1792],
 [1792, 1800],
 [1800, 1808],
 [1808, 1816],
 [1816, 1824],
 [1824, 1832],
 [1832, 1840],
 [1840, 1848],
 [1848, 1856],
 [1856, 1864],
 [1864, 1872],
 [1872, 1880],
 [1880, 1888],
 [1888, 1896],
 [1896, 1904],
 [1904, 1912],
 [1912, 1920],
 [1920, 1928],
 [1928, 1936],
 [1936, 1944],
 [1944, 1952],
 [1952, 1960],
 [1960, 1968],
 [1968, 1976],
 [1976, 1984],
 [1984, 1992],
 [1992, 2000],
 [2000, 2008],
 [2008, 2016],
 [2016, 2024],
 [2024, 2032],
 [2032, 2040],
 [2040, 2048],
 [2048, 2056],
 [2056, 2064],
 [2064, 2072],
 [2072, 2080],
 [2080, 2088],
 [2088, 2096],
 [2096, 2104],
 [2104, 2112],
 [2112, 2120],
 [2120, 2128],
 [2128, 2136],
 [2136, 2144],
 [2144, 2152],
 [2152, 2160],
 [2160, 2168]]