In [1]:
import numpy as np

In [2]:
# Define the matrix
pairs_matrix = np.array(
    [
        ["00100100", "00101001", -1],
        ["10100100", "01101101", -1],
        ["00100100", "00100100", 1],
    ]
)

# Select the column of interest
column_index = 1
substring_start = 0
substring_end = 4

# Extract the binary strings from the selected column
binary_strings = pairs_matrix[:, column_index]

# Convert the binary strings to a 2D numpy array of characters
char_array = np.array([list(bstr) for bstr in binary_strings])

# Perform the slicing operation
sliced_array = char_array[:, substring_start : substring_end + 1]

# Join the characters back to form binary strings
sliced_strings = np.apply_along_axis("".join, 1, sliced_array)

print(sliced_strings)

['00101' '01101' '00100']

In [30]:
char_array

array([['0', '0', '0', ..., '0', '0', '0'],
       ['0', '0', '0', ..., '0', '0', '0'],
       ['0', '0', '0', ..., '0', '0', '0'],
       ...,
       ['0', '0', '0', ..., '0', '0', '0'],
       ['0', '0', '0', ..., '0', '0', '0'],
       ['0', '0', '0', ..., '0', '0', '0']], dtype='<U1')

In [4]:
import pandas as pd

In [5]:
strings_df = pd.read_csv("../../data/interim/string_df.csv", index_col=0)
strings_df = strings_df.rename(columns={strings_df.columns[0]: "Probes"})

In [6]:
# strings_df = strings_df.iloc[:2]

In [7]:
strings_df

                                                Probes
0    0000000000000100000000100000010000001011000101...
1    0000000000000100000000100000010000001011000101...
2    0000000000000100000000100000010000001011000101...
3    0000000000000100000000100000010000001011000101...
4    0000000000000100000000100000010000001011000101...
..                                                 ...
325  0000000000000100000000100000010000001011000101...
326  0000000000000100000000100000010000001011000101...
327  0000000000000100000000100000010000001011000101...
328  0000000000000100000000100000010000001011000101...
329  0000000000000100000000100000010000001011000101...

[330 rows x 1 columns]

In [8]:
char_array = np.array([list(bstr) for bstr in strings_df["Probes"]])

In [9]:
char_array

array([['0', '0', '0', ..., '0', '0', '0'],
       ['0', '0', '0', ..., '0', '0', '0'],
       ['0', '0', '0', ..., '0', '0', '0'],
       ...,
       ['0', '0', '0', ..., '0', '0', '0'],
       ['0', '0', '0', ..., '0', '0', '0'],
       ['0', '0', '0', ..., '0', '0', '0']], dtype='<U1')

In [10]:
pairs_df = pd.read_csv("../../data/interim/pairs_df.csv", index_col=0)

In [11]:
pairs_df

       Item 1  Item 2  Equality
0           0       1         1
1           0       2         1
2           0       3         1
3           0       4         1
4           0       5         1
...       ...     ...       ...
54280     326     328         1
54281     326     329         1
54282     327     328         1
54283     327     329         1
54284     328     329         1

[54285 rows x 3 columns]

In [12]:
pairs_matrix = pairs_df.to_numpy()

In [13]:
# Assuming pairs_df and char_array are DataFrames and 'Item 1' exists in pairs_df and contains valid indices for char_array
pairs_df["Item 1"] = pairs_df["Item 1"].apply(lambda index: char_array[index])
pairs_df["Item 2"] = pairs_df["Item 2"].apply(lambda index: char_array[index])

In [14]:
pairs_df

,Item 1,Item 2,Equality
0,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",1
1,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",1
2,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",1
3,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",1
4,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",1
...,...,...,...
54280,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",1
54281,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",1
54282,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",1
54283,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",1
54284,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...","[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, ...",1

In [ ]:
pairs_matrix

array([[array(['0', '0', '0', ..., '0', '0', '0'], dtype='<U1'),
        array(['0', '0', '0', ..., '0', '0', '0'], dtype='<U1'), 1],
       [array(['0', '0', '0', ..., '0', '0', '0'], dtype='<U1'),
        array(['0', '0', '0', ..., '0', '0', '0'], dtype='<U1'), 1],
       [array(['0', '0', '0', ..., '0', '0', '0'], dtype='<U1'),
        array(['0', '0', '0', ..., '0', '0', '0'], dtype='<U1'), 1],
       ...,
       [array(['0', '0', '0', ..., '0', '0', '0'], dtype='<U1'),
        array(['0', '0', '0', ..., '0', '0', '0'], dtype='<U1'), 1],
       [array(['0', '0', '0', ..., '0', '0', '0'], dtype='<U1'),
        array(['0', '0', '0', ..., '0', '0', '0'], dtype='<U1'), 1],
       [array(['0', '0', '0', ..., '0', '0', '0'], dtype='<U1'),
        array(['0', '0', '0', ..., '0', '0', '0'], dtype='<U1'), 1]],
      dtype=object)

In [39]:
item_1_list = np.array(pairs_df["Item 1"].tolist())
item_2_list = np.array(pairs_df["Item 2"].tolist())

In [43]:
item_1_list[1][0:4]

array(['0', '0', '0', '0'], dtype='<U1')

In [38]:
item_1_list[:, 0:4]

54285

In [40]:
item_2_list[:, 0:4]

array([['0', '0', '0', '0'],
       ['0', '0', '0', '0'],
       ['0', '0', '0', '0'],
       ...,
       ['0', '0', '0', '0'],
       ['0', '0', '0', '0'],
       ['0', '0', '0', '0']], dtype='<U1')